<h1>
  Add a new operating unit
</h1>


<hr>

<form action="/create_operating_unit" method="post">

  <div class="form-group">
    <label for="operating_unit">
      Operating unit
    </label>

    <input type="text" id="operating_unit" name="operating_unit" class="form-control">
  </div>

  <div class="form-group">
    <label for="vice_president_id">
      Vice president
    </label>

    <%= select_tag(:vice_president_id, options_from_collection_for_select(User.all, :id, :username, @operating_unit.vice_president_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create operating unit
  </button>
</form>

<hr>

<a href="/operating_units">
  Go back
</a>
