<!-- Form program start -->
<form action="/create_program_from_business_unit" method="post">
<!-- Form program end -->

  <!-- Label and input for program start -->
  <div class="form-group">
    <label for="program">
      Program
    </label>

    <!-- Input for program start -->
    <input type="text" id="program" name="program" class="form-control" value="<%= @program.program %>">
    <!-- Input for program end -->
  </div>
  <!-- Label and input for program end -->

  <!-- Label and input for program_manager_id start -->
  <div class="form-group">
    <label for="program_manager_id">
      Program manager
    </label>

    <!-- Input for program_manager_id start -->
    <input type="text" id="program_manager_id" name="program_manager_id" class="form-control" value="<%= @program.program_manager_id %>">
    <!-- Input for program_manager_id end -->
  </div>
  <!-- Label and input for program_manager_id end -->

  <!-- Label and input for business_unit_id start -->
  <!-- Input for business_unit_id start -->
  <input type="hidden" name="business_unit_id" value="<%= @business_unit.id %>">
  <!-- Input for business_unit_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create program
  </button>
</form>
