<form action="/create_program_from_business_unit" method="post">

  <div class="form-group">
    <label for="program">
      Program
    </label>

    <input type="text" id="program" name="program" class="form-control" value="<%= @program.program %>">
  </div>

  <div class="form-group">
    <label for="program_manager_id">
      Program manager
    </label>

    <%= select_tag(:program_manager_id, options_from_collection_for_select(User.all, :id, :username, @program.program_manager_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="business_unit_id" value="<%= @business_unit.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create program
  </button>
</form>
