<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Agile Teams

    <a data-toggle="collapse" href="#user_agile_teams_new_form">
      Add agile team
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.agile_teams.each do |agile_team| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/agile_teams/<%= agile_team.id %>">
          <%= agile_team.agile_team %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
