<h1>
  Add a new action item
</h1>


<hr>

<form action="/create_action_item" method="post">

  <input type="hidden" name="assigner_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="actionee_id">
      Actionee
    </label>

    <%= select_tag(:actionee_id, options_from_collection_for_select(User.all, :id, :username, @action_item.actionee_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="action_item">
      Action item
    </label>

    <input type="text" id="action_item" name="action_item" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="deadline">
      Deadline
    </label>

    <input type="text" id="deadline" name="deadline" class="form-control">
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create action item
  </button>
</form>

<hr>

<a href="/action_items">
  Go back
</a>
