<h1>
  Add a new agile team
</h1>


<hr>

<form action="/create_agile_team" method="post">

  <div class="form-group">
    <label for="agile_team">
      Agile team
    </label>

    <input type="text" id="agile_team" name="agile_team" class="form-control">
  </div>

  <div class="form-group">
    <label for="scrum_master_id">
      Scrum master
    </label>

    <%= select_tag(:scrum_master_id, options_from_collection_for_select(User.all, :id, :username, @agile_team.scrum_master_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="program_id">
      Program
    </label>

    <%= select_tag(:program_id, options_from_collection_for_select(Program.all, :id, :program, @agile_team.program_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create agile team
  </button>
</form>

<hr>

<a href="/agile_teams">
  Go back
</a>
